
header {
    margin-top: 10px;
    margin-bottom: 30px;
}

body, html
{
    height: 100%;
	padding: 0;
	margin: 0;
	background: #2c1621;
    font-family: 'Puritan', sans-serif;
    color:khaki;
}
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    /* vertical-align: middle;*/
}
center
{
	text-align: center;
}
btn {
    text-rendering: auto;
    color:#2c1621;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 1px;
    display: inline-block;
    text-align: center;
    background-color: khaki;
    box-sizing: border-box;
    font-family:'Gill Sans';
    margin: 0em;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
btn:hover {
    background-color: #2c1621;
    color:khaki;
}
.hidden{
    display:none;
}
.pad1{
    border: 3px solid khaki; 
    background-color: #2c1621;
    margin:auto; 
    max-width: fit-content;
}

.pad2{
    border: 3px solid khaki; 
    margin:auto; 
    max-width: fit-content;  
}
.bgimage{ 
    width:800px; height:194px;
    background-image: url('../img/nbanner2.png'); 
    display: flex;
    justify-content: center;
    align-items: center;
}